<!--默认全局模板框架-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%=siteConfig.cmsDescription%>">
    <meta content="<%=siteConfig.keywords%>" name="keywords" />
    <meta name="author" content="DoraCMS">
    <title><%=siteConfig.title%></title>
    <script src="/javascripts/jquery-1.10.2.min.js?vesion=<%=siteConfig.version%>" type="text/javascript"></script>

    <link href="/plugins/bootstrap/css/bootstrap.min.css?vesion=<%=siteConfig.version%>" rel="stylesheet">
    <script src="/javascripts/bootstrap.min.js?vesion=<%=siteConfig.version%>" type="text/javascript"></script>
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css">

    <script src="/javascripts/dora.public.js?vesion=<%=siteConfig.version%>" type="text/javascript"></script>
    <link href="/stylesheets/front/css/white.css?vesion=<%=siteConfig.version%>" rel="stylesheet">
	
	<script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?00bedeafedf2236ccbe9706d3a9e09b3";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>

<body>
<%- include header %>


<%-body %>

<!-- BEGIN FOOTER -->
<%- include footer %>

</body>
</html>