<!--
约定documentList为文档列表数据集合
item为子元素集合
-->
<div class="post-list">
<%if(documentList.length>0){%>
    <%documentList.forEach(function(item){%>
	<article class="post">
		<div class="row">
			<div class="col-xs-3 col-md-3">
                <%if(item.isTop == 1){%>
                    <span class="span-mark">荐</span>
                <%}%>
				<img src="<%=item.sImg%>" class="img-responsive" alt="<%=item.title%>"/>
			</div>
			<div class="col-xs-9 col-md-9">
				<h2 class="post-title">
					<a href="/details/<%=item._id%>.html" target="_blank"><%=item.title%></a>

				</h2>
				<ul class="post-meta">
                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;<%=myDateFormat(item.date)%></li>
                    <li> <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;阅读(<%=item.clickNum%>)</li>
                    <li> <i class="fa fa-comments-o" aria-hidden="true"></i>&nbsp;评论(<%=item.commentNum%>)</li>
				</ul>
				<div class="post-content"><%= item.discription%></div>
			</div>
		</div>
	</article>
	<%})%>
<%}else{%>
    <p class="text-center">暂无内容...</p>
<%}%>
</div>