<!--
约定replyList为文档列表数据集合
item为子元素集合
-->
<h3>参与话题</h3>
<%if(replyList.length>0){%>
    <%replyList.forEach(function(item){%>
    <ul class="replyList">
        <li>
            <small class="pull-right"><%=myDateFormat(item.date)%></small>
            <h4><a href="#"><%= userInfo.userName%></a>&nbsp;发表在&nbsp;<a href="/details/<%=item.contentId%>.html" target="_blank"><%=item.contentTitle%></a>&nbsp;</h4>
            <blockquote><p><%=item.content%></p></blockquote>
        </li>
    </ul>
    <%})%>
<%}else{%>
    <p class="text-center">暂无内容...</p>
<%}%>

