<!DOCTYPE html>
<!--
Version: 1.0.0
Author: Dora
Website: http://www.html-js.cn/
Contact: cms@doramart.com
-->
<html>
<head>
    <meta charset="UTF-8">
    <title><%= siteInfo.title%></title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.2 -->
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Font Awesome Icons -->
    <link href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <!--数据表格相关样式-->
    <link href="/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="/stylesheets/backstage/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />

    <link href="/stylesheets/backstage/css/skins/skin-blue.min.css" rel="stylesheet" type="text/css" />


    <!--百度编辑器-->
    <!-- 配置文件 -->
    <script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="/ueditor/ueditor.all.js"></script>
    <!--jquery-->
    <script src="/javascripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <!--zTree树形组件-->
    <link rel="stylesheet" href="/plugins/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <script type="text/javascript" src="/plugins/ztree/js/jquery.ztree.all-3.5.js"></script>

    <!--uploadify-->
    <link href="/plugins/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
    <script src="/plugins/uploadify/jquery.uploadify.min.js"></script>

    <!--doraPlugs-->
    <link rel="stylesheet" href="/plugins/git/doraPlugs/css/dora.css"/>
    <script src="/plugins/git/doraPlugs/js/dora.js"></script>

    <!--幻灯片插件开始-->
    <script type="text/javascript" src="/plugins/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>
    <link rel="stylesheet" type="text/css" href="/plugins/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />

    <script src="/javascripts/dora.public.js"></script>
    <script src="/javascripts/backstage/dora.backstage.js"></script>
    <link rel="stylesheet" href="/stylesheets/backstage/css/style.css"/>

</head>

<body class="skin-blue" ng-app="adminApp">

<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">
        <!-- Logo -->
        <a href="/admin/manage" class="logo"><b>Dora</b>CMS</a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- User Account Menu -->
                    <% if(adminlogined){ %>
                    <!-- Notifications: style can be found in dropdown.less -->
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <%if(adminNotices.totalCount>0){%>
                            <span class="label label-warning"><%=adminNotices.totalCount%></span>
                            <%}%>
                        </a>
                        <ul class="dropdown-menu">
                            <%if(adminNotices.totalCount>0){%>
                                <li class="header">您有<%=adminNotices.totalCount%>条提醒</li>
                            <%}else{%>
                            <li class="header">亲爱哒，暂无未读消息</li>
                            <%}%>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <%if(adminNotices.regNotices && adminNotices.regNotices.length > 0){%>
                                        <li>
                                            <a href="/admin/manage/noticeManage/m/systemNotice?area=systemNotice">
                                                <i class="fa fa-users text-aqua"></i> 新增&nbsp;<span class="text-red"><%=adminNotices.regNotices.length%></span>&nbsp;位注册用户
                                            </a>
                                        </li>
                                    <%}%>
                                    <%if(adminNotices.msgNotices && adminNotices.msgNotices.length > 0){%>
                                    <li>
                                        <a href="/admin/manage/noticeManage/m/systemNotice">
                                            <i class="fa fa-envelope text-red"></i> <span class="text-red"><%=adminNotices.msgNotices.length%></span>&nbsp;位用户给您留言啦！
                                        </a>
                                    </li>
                                    <%}%>
                                </ul>
                            </li>
                            <li class="footer"><a href="/admin/manage/noticeManage/m/systemNotice">View all</a></li>
                        </ul>
                    </li>
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img alt="User Image" class="user-image" src="<%=adminUserInfo.logo%>">
                            <span class="hidden-xs" id="adminUserName"><%=adminUserInfo.userName%></span>
                            <input type="hidden" id="adminId" value="<%=adminUserInfo._id%>">
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="<%=adminUserInfo.logo%>" class="img-circle" alt="User Image" />
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-right">
                                    <a href="/admin/logout" class="btn btn-default btn-flat">退出</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <% } %>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- search form (Optional) -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="searchKey" class="form-control" placeholder="Search..." value=""/>
              <span class="input-group-btn">
                <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
                </div>
            </form>
            <!-- /.search form -->

            <!-- Sidebar Menu -->
            <ul class="sidebar-menu">
                <li class="header">Main Menu</li>
                <!-- Optionally, you can add icons to the links -->
                <input type="hidden" id="currentCate" value="<%= bigCategory%>"/>
                <li class="treeview active" cid="sysTemManage">
                    <a href="#"><span>系统管理</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li cid="sysTemManage_user"><a href="/admin/manage/adminUsersList"><i class="fa fa-user"></i> 系统用户管理</a></li>
                        <li cid="sysTemManage_uGroup"><a href="/admin/manage/adminGroupList"><i class="fa fa-group"></i> 用户组设定</a></li>
                        <li cid="sysTemManage_ads"><a href="/admin/manage/adsList"><i class="fa fa-camera-retro"></i> 广告管理</a></li>
                        <li cid="sysTemManage_files"><a href="/admin/manage/filesList"><i class="fa fa-file-text"></i> 文件管理器</a></li>
                        <li cid="sysTemManage_data">
                            <a href="#"><i class="fa fa-cloud"></i> 数据管理<i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li cid="sysTemManage_data_1"><a href="/admin/manage/dataManage/m/backUpData"><i class="fa fa-copy"></i> 数据备份</a></li>
                            </ul>
                        </li>
                        <li cid="sysTemManage_logs"><a href="/admin/manage/systemLogs"><i class="fa fa-fw fa-clipboard"></i> 系统日志管理</a></li>
                    </ul>
                </li>
                <li class="treeview" cid="contentManage">
                    <a href="#"><span>文档管理</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li cid="contentManage_content"><a href="/admin/manage/contentList"><i class="fa fa-file-text-o"></i> 文档管理</a></li>
                        <li cid="contentManage_cateGory"><a href="/admin/manage/contentCategorys"><i class="fa fa-clipboard"></i> 文档类别管理</a></li>
                        <li cid="contentManage_tag"><a href="/admin/manage/contentTags"><i class="fa fa-tags"></i> 文档标签管理</a></li>
                        <li cid="contentManage_temp">
                            <a href="#"><i class="fa fa-dashboard"></i> 模板管理<i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li cid="contentManage_temp_1"><a href="/admin/manage/contentTemps/m/config"><i class="fa fa-cog"></i> 模板配置</a></li>
                            </ul>
                            <ul class="treeview-menu">
                                <li cid="contentManage_temp_2"><a href="/admin/manage/contentTemps/m/edit"><i class="fa fa-edit"></i> 模板编辑</a></li>
                            </ul>
                        </li>
                        <li cid="contentManage_msg"><a href="/admin/manage/contentMsgs"><i class="fa fa-comments"></i> 留言管理</a></li>
                        <li cid="contentManage_notice">
                            <a href="#"><i class="fa fa-bullhorn"></i> 消息管理<i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li cid="contentManage_notice_1"><a href="/admin/manage/noticeManage/m/adminNotice"><i class="fa fa-volume-up"></i> 公告管理</a></li>
                            </ul>
                            <ul class="treeview-menu hide">
                                <li cid="contentManage_notice_2"><a href="/admin/manage/noticeManage/m/userNotice"><i class="fa fa-male"></i> 用户消息</a></li>
                            </ul>
                            <ul class="treeview-menu">
                                <li cid="contentManage_notice_3"><a href="/admin/manage/noticeManage/m/systemNotice"><i class="fa fa-bell-o"></i> 系统消息</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="treeview" cid="userManage">
                    <a href="#"><span>会员管理</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li cid="userManage_user"><a href="/admin/manage/regUsersList"><i class="fa fa-users"></i> 注册会员列表</a></li>
                    </ul>
                </li>
            </ul><!-- /.sidebar-menu -->

        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <%= siteInfo.title%>
                <small><%= siteInfo.description%></small>
                <input type="hidden" id="pageArea" value="<%=area%>">

            </h1>
            <ol class="breadcrumb">
                <li class="active"><a href="http://<%=myDomain%>" target="_blank"><i class="fa fa-home"></i> 前台首页</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <%-body %><!-- Your Page Content Here -->

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- Default to the left -->
        <strong>Copyright &copy; 2015 <a href="https://github.com/doramart/DoraCMS" target="_blank">DoraCMS <%=siteInfo.version%></a>.</strong> All rights reserved.
    </footer>

</div><!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->


<!-- Bootstrap 3.3.2 JS -->
<script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
<!-- 数据表格插件开始 -->
<!--<script src="/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>-->
<!--<script src="/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>-->

<!-- AdminLTE App -->
<script src="/javascripts/backstage/app.min.js" type="text/javascript"></script>
<!--数据绑定-->
<script src="/javascripts/angular.min.js"></script>
<script src="/javascripts/backstage/controller.js"></script>
<script src="/javascripts/backstage/filters.js"></script>
<script src="/javascripts/backstage/directives.js"></script>


<script>
    $(function(){
        var curerntCate = $("#currentCate").val();
        var sv = $('li[cid="'+curerntCate+'"]');
        $('.treeview-menu').removeClass('open-menu');
        $(".sidebar-menu").find("li").removeClass('active');
        sv.parents('li').addClass('active');
        sv.addClass('active').parents('.treeview-menu').addClass('open-menu');
    })
</script>

</body>
</html>