<div class="container">
	<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"3","bdPos":"right","bdTop":"250"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-9 left-frame">
                <article class="post">
                    <h2 class="post-title"><%=documentInfo.title%>
                        <%if(documentInfo.from == '2'){%>
                        &nbsp;<span class="badge">转</span>
                        <%}%>
                    </h2>
                    <ul class="post-meta">
                        <li><%=myDateFormat(documentInfo.date)%>&nbsp;/&nbsp;<%=documentInfo.clickNum%> 次浏览</li>
                        <li class="comment-count"><a title="<%=documentInfo.title%> 上的评论" href="#"><%=documentInfo.commentNum%> 条评论</a></li>
                    </ul>
                    <div class="post-content"><%- documentInfo.comments%></div>
                </article>
                <% include ../../public/reCommendList %>
                <% include ../../public/msgBoard %>
            </div>
            <div class="col-md-3 right-frame">
                <% include ../../public/searchBoard %>
                <% include ../../public/leftNav %>
                <% include ../../public/newItemList %>
                <% include ../../public/hotNewsList %>
                <% include ../../public/friendLink %>
            </div>
        </div>
    </div>
</div>